*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
img{
    max-width: 100%;
}

:root{
    --primary: rgba(26, 188, 156, 1);
    --secondary:rgba(44, 62, 80, 1);
    --secondary-soft:rgba(58, 84, 109, 1);
    --darker:rgba(44, 62, 80, 1);
    --dark: rgba(8, 11, 18, 1);
    --light: rgba(255, 255, 255, 1);
}
.c_primary{
    color: var(--primary);
}
.bg_secondary{
    background-color: var(--secondary);
}
.bg_primary{
    background-color: var(--primary);
}
.bg_secondary-soft{
    background-color: var(--secondary-soft);
}

.avatar{
    width: 20%;
}
.icon:before{
    content:'';
    height:10px;
    width:25%;
    display: inline-block;
    background-color: var(--light);
    margin-right: 2rem;

}
.icon:after{
    content:'';
    height:10px;
    width:25%;
    display: inline-block;
    background-color: var(--light);
    margin-left: 2rem;

}

.icon_bk:before{
    content:'';
    height:10px;
    width:25%;
    display: inline-block;
    background-color: var(--dark);
    margin-right: 2rem;

}
.icon_bk:after{
    content:'';
    height:10px;
    width:25%;
    display: inline-block;
    background-color: var(--dark);
    margin-left: 2rem;

}

.icon, .icon_bk{
    font-size: 1.5rem;
}
  
i.fa-brands {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 50%;
  
}

 